<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="icon" type="x-icon" href="/static/meet.png">
  <link rel='stylesheet' href='static/smth.css'/>
  <title>STARTUPS</title>
  
<header id="header">
  <script src="navbar.js"></script>
  <img class="site-logo" id="logo" src="/static/meet.png" width="150" height="70">
  <div><center><h1 style="color:black
;">    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Our startups here in meet!</h1></center></div>  
    <ul>
      <li><a href="{{url_for('design')}}">Home</a></li>
      <li><a href="{{url_for('main')}}">Quiz</a></li>
      <li><a href="{{url_for('notes')}}">Q&A</a></li>
      <li><a href="{{url_for('posts')}}">Posts</a></li>
      <li><a href="{{url_for('signin')}}" onclick="return confirm('Are you sure you want to Sign out ?');">sign out</a></li>
    </ul>


</header>
<body>
<br><br><br><br>
<center><div><h1> Welcome {{username}} - {{option}}!</h1></head></div></center>


<h1 align="left" style='color:darkgray;'> Check out the startups</h1>


<h2 align="middle" style="color:gainsboro;">You can see the startups below <br><br> if you would like to checkout the Mockups click the startup image </h2>

<br>

<center>
<div class="row">
  <div class="column">

<h1 style="color:darkslateblue;"> Spectra</h1>
   <a href="https://drive.google.com/file/d/1Blb1rpI5tm52A1v2-766x-Z7XCW7WmWb/view?usp=drivesdk"><input type="image" width='150' height='150' src="/static/spectra.jpg"  name="spectra" width="100" height="48"/></a>


<h1 style="color:darkcyan;">Description:</h1>
<h2 >An app for autistic and non-autistic people where they can share their interest and teach each other distinguished topics easily and efficiently in a safe environment.</h2>
<h1 style="color:darkgray;">Vision:</h1>
<h2 >We envision a world where raising awareness about autism and integrating more autistic people into the society make a healthier and inclusive environment, supportive of talents without distinction and exception.  </h2>
<h1 style="color:burlywood;">Mission:</h1>
<h2>Our Mission is to create a platform where people can freely learn and teach new skills, with an emphasis of allowing autistic people to comfortably share their skills and knowledge with the world, creating connections with their neurotypical peers. </h2>


  


</div>
  
<h1>&nbsp; &nbsp; </h1>

  

</div>






<div class="row">
  
<div class="column">
<h1> SwiftAid</h1>
    <a href="https://www.figma.com/proto/d870Bn7CLNXMY5nq0rF6Dl/Untitled?node-id=30-15&scaling=scale-down&page-id=0%3A1&starting-point-node-id=30%3A15&show-proto-sidebar=1"><input type="image" width='150' height='150' src="/static/swift.jpg" name="swiftaid" width="100" height="48"/></a>
   <div>
<h1 style="color:darkcyan;">Description:</h1>
<h2 >SwiftaAid is an app that stores your personal and medical information, including your live location in advance. At the click of a button, this information is instantly sent to the emergency medical team. Additionally, the app allows you to choose the emergency type for on-the-spot instructions. </h2>
<h1 style="color:darkgray;">Vision:</h1>
<h2 >A world where Immediate Professional medical attention is available to anyone from anywhere in the region. Where no matter their race, color, language they speak or the environment that they live in they can have access to immediate professionally trained paramedics who can save their citizen's life. A world where no medical response is delayed due to a language barrier. </h2>
<h1 style="color:burlywood;">Mission:</h1>
<h2>"To bridge the gap of communication between Arabic-speaking citizens and Israeli EMT operators, in Palestinian neighborhoods in East Jerusalem by creating an app that allows Arabic citizens to communicate with EMTs without a language barrier.
" </h2>
<h1>&nbsp; &nbsp; </h1>


  

  </div></div>
  
  <div class="column">
<h1 style="color:burlywood;">Soul</h1>
<a href="https://www.figma.com/file/czgTMcZCGb8jvGLmxa8GBa/Sq-mockup?node-id=0%3A1&t=SNGnZUTFsuIsYk2l-1
"><input type="image" width='150' height='150' src="/static/soul.png" name="soul" width="100" height="48"/></a>



<div>
<h1 style="color:darkcyan;">Description:</h1>
<h2 >An app that connects all kinds of musicians and artists in a social and engaging way, helps them find job opportunities by connecting them with other musicians and artists or with local businesses with open gigs. </h2>
<h1 style="color:darkgray;">Vision:</h1>
<h2 >A world where people have the option to pursue the careers they’re interested in without being influenced by society/peoples’ opinions and be able to pursue their talents with any subject they like.</h2>
<h1 style="color:burlywood;">Mission:</h1>
<h2>Our mission is to achieve equality between music/art and different careers in society and to give people the opportunity to follow the career path they're interested in.</h2>
<h1>&nbsp; &nbsp; </h1>

 </div>
  </div>


  <div class="column">
<h1 style="color:beige;">SimanLy</h1>
    <a href="https://www.figma.com/proto/tCnQYs3BNMmvCJQxzriqwK/SimanLy-Mockup?node-id=7-105&scaling=scale-down&page-id=0%3A1"><input  type="image" width='150' height='150' src="/static/simanly.jpg" name="simanly" width="100" height="48"/></a>
   
    <h1 style="color:darkcyan;">Description:</h1>
<h2 > Our startup aims to promote communication and inclusivity between the hearing and deaf communities in Israel. Our solution is a mobile application that teaches Israeli Sign Language to the hearing population of Israel aged 12-38. It includes interactive video lessons, quizzes, and a sign language dictionary.   </h2>
<h1 style="color:darkgray;">Vision:</h1>
<h2 > Our vision is to create a world where communication barriers between hearing and deaf individuals are reduced, leading to a more inclusive and connected society.  </h2>
<h1 style="color:burlywood;">Mission:</h1>
<h2>To empower individuals with the knowledge and skills to communicate through Israeli Sign Language, breaking down barriers and fostering a more inclusive society. </h2>
<h1>&nbsp; &nbsp; </h1>

</div>
  
  
  </div>
  

 

  </div>
  

<br><br>



<div class="row">
    
  <div class="column">
<h1 style="color:cyan;">LightHouse</h1>
    <a href="https://drive.google.com/file/d/1XdqZl0lqaMAusuebwnCDZ1y2xfRoqwQ3/view?usp=sharing"><input type="image" width='150' height='150' src="/static/light.jpg" name="light" width="100" height="48"/></a>
    <h1 style="color:darkcyan;">Description:</h1>
<h2 >We empower Palestinian and Israeli women to anonymously share their sexual harassment stories by providing them a forum in which to discuss their experience with others who were subject to the same perpetrator or a similar incident. By providing a safe and secure space in which women can discuss their experiences, a community is built in which women support each other to take action.</h2>
<h1 style="color:darkgray;">Vision:</h1>
<h2 >A world in which all women are comfortable sharing their sexual harassment stories without the fear of job insecurity, retaliation, and lack of support.           </h2>
<h1 style="color:burlywood;">Mission:</h1>
<h2>Our mission is to provide women with all the resources needed (emotional support, legal guidance, psychological assistance, and accessibility) to share their sexual harassment stories, easing the potential obstacles they may face.                                                                                 </h2>
<h1>&nbsp; &nbsp; </h1>
      
  </div>



  <div class="column">
<h1 style="color:skyblue;">Fortuna</h1>
    <a href="https://drive.google.com/file/d/1J8-qznTngYgsBr4dyHFtHe9tPSpKHXG8/view?usp=sharing"><input  type="image" width='150' height='150' src="/static/fortuna.jpg" name="fortuna" width="100" height="48"/></a>
    <h1 style="color:darkcyan;">Description:</h1>
<h2 >Our Startup aims to support local businesses and help them prosper by providing an application where users can earn points through purchasing products from those stores.These points could be later exchanged for goods and services, discounts, and most importantly “experience workshops” made by the store owners. Nevertheless, storytelling and reviews will also play an important role in the application. Overall, one can say that we are essentially a marketing company.  
</h2>
<h1 style="color:darkgray;">Vision:</h1>
<h2 >A world, where the local, authentic stores will go back to being vibrant and active members of the economic community of Jerusalem.     </h2>
<h1 style="color:burlywood;">Mission:</h1>
<h2>To help with the resuscitation of the small and authentic stores in Jerusalem by motivating and reminding customers of the stores heritage, beauty and authenticity. 
 </h2>
<h1>&nbsp; &nbsp; </h1>

  </div>
  
<div class="column">
<h1>easiER</h1>
    <a href="https://www.figma.com/file/IIFupZC0q4n3vLrm9aSo2g/easiER---Meet?node-id=1519%3A7903&t=2v5p65pTDxZtzu5R-1"><input  type="image" width='150' height='150' src="/static/easier.jpeg" name="easier" width="100" height="48"/></a>
    <h1 style="color:darkcyan;">Description:</h1>
<h2 >We are creating a more efficient and fast environment in ERs where patients will receive the treatment they need as quickly as possible through a system that will help us get information about crowding in emergency rooms in real time. This will be shared with potential patients and according to that they will decide which ER they want to go to and thus make the waiting time much easier than it should be.</h2>
<h1 style="color:darkgray;">Vision:</h1>
<h2 >A better and safer society where patients get immediate help AFAP and hospital staff work more efficiently.   </h2>
<h1 style="color:burlywood;">Mission:</h1>
<h2>To create a system that helps the hospitals work efficiently by quickening the patient flow and lessen the overcrowdedness. </h2>
<h1>&nbsp; &nbsp; </h1>
  </div>
  

<div class="column">
<h1 style="color:forestgreen;">Acteen'</h1>
    <a href="https://www.youtube.com/watch?v=SxiziFbfs0g&ab_channel=PintelZYT"><input  type="image" width='150' height='150' src="/static/acteen.png" name="acteen" width="100" height="48"/></a>
    <h1 style="color:darkcyan;">Description:</h1>
<h2 >Acteen’ is designed to empower teens and connect them with activism and activists. It provides a platform for young people to share their ideas, organize events, and collaborate on social justice issues. The app offers educational resources and mentoring to encourage activism and facilitate social change. Our algorithm will create a personally-adapted feed based on each user’s interests, preferences, age and area of living</h2>
<h1 style="color:darkgray;">Vision:</h1>
<h2 >Our vision is to create a social media platform that empowers and connects teens with activists and causes they care about. We strive to provide a safe and inclusive space for young people to engage in meaningful conversations and take action towards creating a better world.   </h2>
<h1 style="color:burlywood;">Mission:</h1>
<h2>Our mission is to inspire and mobilize the next generation of activists by providing a platform that facilitates teen participation in activism and produces connections between teens and activists. </h2>
<h1>&nbsp; &nbsp; </h1>


  </div>





<div class="row">
  <div class="column">
<h1 style="color:royalblue;">SafeSteps</h1>
    <a href="https://drive.google.com/file/d/1yg2O79V0iRXyGsYVHHv6dpwHu3eetnHW/view?usp=share_link"><input  type="image" width='150' height='150' src="/static/safesteps.jpeg" name="safesteps" width="100" height="48"/></a>
    <h1 style="color:darkcyan;">Description:</h1>
<h2 >Our startup offers an application that helps women in need from all around the region, and offers them the ability to connect with other women to ask for a walking companion at night. Women who take the offer and accompany a woman in need will then receive "virtual points" that they can use to redeem prizes in select shops and stores.</h2>
<h1 style="color:darkgray;">Vision:</h1>
<h2 >We envision a world where women don’t face the fear of walking alone at night, and where they will have the courage and ability to go outside at night by themselves  </h2>
<h1 style="color:burlywood;">Mission:</h1>
<h2>Our mission is to build a community of women that help and encourage each other by going out and walking with eachother from one place to another. </h2>
<h1>&nbsp; &nbsp; </h1>


  </div>
</center>
</div>














<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>

</body></html>