<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="icon" type="x-icon" href="/static/lock.webp">
    <link rel='stylesheet' type='text/css' href='static/smth.css'/>
    <link rel='stylesheet' type='text/css' href='static/sign.css'/>
    <meta charset="UTF-8">
    <title>Signup</title>   
    <header id="header">    
  
  <script src="navbar.js"></script>
  <img class="site-logo" id="logo" src="/static/meet.png" width="150" height="70">
  <div><center><h1 align="left" style="color:black;">Create a new account </h1></center></div>  
  <ul>
      <li><a href="{{url_for('signin')}}">Got an account?</a></li>
  </ul>
</header>

<br><BR><BR><BR>
<center><h1 style="color:darkgray;" style="font-family:verdana">Welcome To FitBit!</h1></center>    
</head>
<body>
    <center>
    <form method="POST" action="/signup">
        <!-- Heading -->
        <h4>Create account</h4>

        <!-- Subheading -->
        <p>Fill up your info to sign up.</p>

        <!-- Email -->
        <div>
            <label>Email address</label>
            <div>
                <input type="email" name="email" id="emailStr" required placeholder="email@example.com">
            </div>
        </div><br>

        <!-- Password -->
        <div>
            <label>Password</label>
            <div >
                <input type="password" name="password" minlength="6" placeholder="Password">
            </div>
        </div><br>

        <div>
            <label>Full Name</label>
            <div>
                <input name="full_name" required placeholder="ie. Joe Anderson">
            </div><br>
        </div>

        <div>
            <label>Username</label>
            <div>
                <input name="username" required placeholder="ie. joemama12">
            </div>
        </div><br>

        <div>
            <label>Choose your startup:</label>
            <div>
                <select name="option">
                    <option value="none">option</option>
                    <option value="Coordinator">Coordinator</option>
                    <option value="SwiftAid">SwiftAid</option>
                    <option value="Acteen'">Acteen'</option>
                    <option value="Soul">Soul</option>
                    <option value="Spectra">Spectra</option>
                    <option value="SimanLy">SimanLy</option>
                    <option value="Safesteps">Safesteps</option>
                    <option value="easiER">easiER</option>
                    <option value="Lighthouse">Lighthouse</option>
                    <option value="Fortuna">Fortuna</option>
                </select>
            </div>
        </div><br>

        <!-- Button -->
        <div>
            <input type="submit"/>
        </div>
    </form>

    <font color="red">{{ error }}</font>
    <br>   
</center>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</body>
</html>
